@import url("nouvel_onglet.css");
@import url("onglet.css");
@import url("btns.css");

#page * {
    height: 100%;
    width: 100%;
    background-color: #2f3a4b;
}

#page * > * {
    height: 100%;
    width: 100%;
}

#page iframe {
    border : none;
}