@import url("opera/opera.css");
@import url("menu-demarrer/demarrer.css");

@import url("opera/navigateur/navigateur.css");


.app {
    position: fixed;
    left: 0;
    top: 0;
    height: 95vh;
    width: 100vw;
}


